body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  user-select: none;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
  background-image: linear-gradient(
    to bottom,
    #ccc 0%,
    #cccccc 33%,
    #d3aa74 33%,
    #d3aa74 66%,
    #38555a 66%,
    #38555a
  );

  // &::before {
  //   content: '2021';
  //   position: absolute;
  //   top: 50%;
  //   width: 100%;
  //   color: #000;
  //   font-size: 100px;
  // }

  .box {
    $width: 100px;

    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, $width);
    gap: 12px;
    justify-content: space-between;
    grid-auto-flow: row;

    .div {
      display: inline-block;
      height: $width;
      padding: 20px;
      text-align: center;
      cursor: pointer;
      background-color: rgba($color: #ffffff, $alpha: 0.3);
      box-shadow: 0 0 10px rgba($color: #818181, $alpha: 0.3);
      backdrop-filter: blur(5px);
      border-radius: 5px;
      color: #fff;
      transition: all 0.3s;
    }
  }
}
